

@{
    ViewBag.Title = "Basic";
}
@section css{
    <style type="text/css">
        .panel {
            margin-top: 20px;
        }

        select, option {
            height: 30px;
            line-height: 30px;
        }

        .media_name {
            text-align: center;
            margin: 15px auto;
        }

        #pnlLevelAudio {
            height: 650px;
            overflow-y: auto;
        }

        #pnlAudio, #pnlVideo {
            text-align: center;
        }

        #pnlLevelVideo {
            vertical-align: top;
        }

        #pnlLevelAudioWrap, #pnlLevelVideoWrap {
            margin: 10px auto;
        }

        #btnSearch {
            margin-left: 10px;
        }
    </style>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Basic Literacy - 基础读写 - 媒体库</div>
                <div class="panel-body">
                    <div class="pnl-toolbar">
                        书本标题：
                        <select id="sel_book_type">
                            <option value="Literacy">读写（Literacy）</option>
                            <option value="Skills">技巧（Skills）</option>
                        </select>
                        媒体类型：
                        <select id="sel_media_type">
                            <option value="Audio">音频（Audio）</option>
                        </select>
                        单元：
                        <select id="sel_unit">
                        </select>
                        <button class="btn btn-primary" id="btnSearch">查询</button>
                    </div>
                    <div id="pnlLevelAudioWrap">
                        <div id="pnlLevelAudio">
                            <a href="javascript:void(0);" class="btn_audio" onclick="playAudio('${Url}')"><img src="/imgs/play.png" alt="播放" style="width:16px;" /></a>
                        </div>
                        <div id="pnlAudio">
                            <audio controls="controls" id="audio_player">
                                <source src="" type="audio/mpeg">
                            </audio>
                        </div>
                    </div>
                    <div id="pnlLevelVideoWrap">

                        <div id="pnlVideo">
                            <video controls id="video_player" src="" width="640" height="360">
                                您的浏览器不支持 HTML5 video 标签。
                            </video>
                        </div>
                        <div id="pnlLevelVideo">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section js{
    <script id="tmplLevelAudio" type="text/x-jquery-tmpl">
        <div class="media_name"><a href="javascript:void(0);" class="btn_video" onclick="playAudio('${Url}')">${Name}<img src="/imgs/play.png" alt="播放" style="width:16px;" /></a></div>
    </script>

    <script id="tmplLevelVideo" type="text/x-jquery-tmpl">
        <div class="media_name"><a href="javascript:void(0);" class="btn_video" onclick="playVideo('${Url}')">${Name}<img src="/imgs/play.png" alt="播放" style="width:16px;" /></a></div>
    </script>

    <script type="text/javascript">

        $(function () {

            init();

            showMedia();
            $("#btnSearch").bind("click", function () {
                document.getElementById("video_player").pause();
                document.getElementById("audio_player").pause();
                showMedia();
            });
        });

        function init() {
            for (var i = 0; i < 11; i++) {
                $("#sel_unit").append('<option value="' + i + '">第' + (i + 1) + '单元</option>');
            }

            $("#sel_book_type").change(function () {
                var book_type = $(this).val();

                $("#sel_media_type").empty();

                if (book_type == "Literacy") {
                    $("#sel_media_type").append('<option value="Audio">音频（Audio）</option>');
                } else {
                    $("#sel_media_type").append('<option value="Audio">音频（Audio）</option>');
                    $("#sel_media_type").append('<option value="Videos">视频（Videos）</option>');
                    $("#sel_media_type").append('<option value="Videos with subtitles">带字幕视频</option>');
                }
            });

        }

        function showMedia() {
            var book_type = $("#sel_book_type").val();
            var media_type = $("#sel_media_type").val();
            var unit = $("#sel_unit").val();

            $("#pnlLevelAudio").empty();
            $("#pnlLevelAudioWrap").hide();
            $("#pnlLevelVideo").empty();
            $("#pnlLevelVideoWrap").hide();
            $.get("http://localhost:8081/unlock/GetBasicLevelFileList?book_type=" + book_type + "&media_type=" + media_type + "&unit=" + unit, function (rs) {
                if (media_type == "Audio") {
                    $("#tmplLevelAudio").tmpl(rs).appendTo('#pnlLevelAudio');
                    $('#pnlLevelAudioWrap').show();
                }
                else {
                    $("#tmplLevelVideo").tmpl(rs).appendTo('#pnlLevelVideo');
                    $('#pnlLevelVideoWrap').show();
                }
            });
        }

        function playVideo(address) {
            document.getElementById("video_player").pause();
            $("#video_player").attr("src", "http://localhost:8081/" + address);
            document.getElementById("video_player").play();
        }
        function playAudio(address) {
            document.getElementById("audio_player").pause();
            $("#audio_player").attr("src", "http://localhost:8081/" + address);
            document.getElementById("audio_player").play();
        }

    </script>
}